* {
    margin: 0;
    padding: 0
}

#root {
    width: 300px;
    margin: 50px auto;
    .box {
        width: 300px;
        height: 300px;
        border: 1px solid red;
        .cell {
            border: 1px solid #ccc;
            width: 98px;
            height: 98px;
            float: left;
            line-height: 99px;
            font-size: 50px;
            text-align: center;
        }
    }
}
