*{
	padding: 0;
	margin: 0;
	list-style: none;
	// font-size: 1em;
	// // line-height: 24px;
	a{
		text-decoration: none;
		color: #000;
		font-size:15px;
		line-height:24px;
	}
	a:hover{
		text-decoration:underline;
	}
	body{
		background-color: #fff;
		#wrapper{
			margin-top:50px;
			#box{
				border:1px solid #ccc;
				width: 400px;
				margin:0 auto;
				background-color: #dee7e7;
				#topic{
					height:3em;
					border-bottom:1px solid #fff;
					font-size:1.2em;
					line-height:2.4em;
					padding: 20px 20px 0 20px;
					position: relative;
					
					ul{
						height:2em;
						line-height:2em;
						position: absolute;
						right: 20px;
						li{
							display: inline-block;
							a{
								background-color: #29739c;
								color:#fff;
								padding:5px 10px;
								border-radius:5px 5px 0 0;
								border: #29739c solid 2px;
								border-bottom:0;
							}
						}
						li:first-of-type{
							a{
							background-color: #dee7e7;
							color:#29739c
							}
						}
					}
				}
				#content{
					ul{
						li{
							// position: relative;
							.movie_box{
								// margin: 10px;
								padding: 10px;
								border-bottom: #fff 1px dashed;
								line-height:2em;
								position: relative;
								img{
									width:100px;
									padding:3px;
									border:1px solid #ccc;
									display:inline-block;
								}
								span{
									background-color: #29739c;
									color:white;
									font-weight: bold;
									font-size:10px;
									padding: 3px 10px;
									border-radius:3px;
								}
								a{
									position:static;
									display:inline-block;
									top:0;
									vertical-align: top;
								}
								a.a_cover{
								}
								a.a_title{
									// width:40%;
									font-size:15px;
									padding:0 10px;
								}
								a.a_play{
									position: absolute;
									top:10px;
									right: 10px;
									// bottom:10px;
									bottom: 10px;
								}
						
							}
							.movie_box.brief{
								height: 2em;
								background-color: #dee7e7;
								img{
									display:none;
								}
							}
							.movie_box.full{
								height:200px;
								background-color: #fff;
								img{
									display:inline-block;
								}
								a.a_title{
									max-width: 30%;
								}
							}
						}
					}
				}
				#more{
					padding: 10px 20px;
					text-align: right;
				}
			}
		}
	}
}