* {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

@color: #89d9bb;
.date-picker {
    position: relative;
    .mask{
        padding:10px;
        left:25%;
        top:60;
        width:210px;
        height:248px;
        position: absolute;
        z-index: 10;
        background-color: #fff;
        display:none;
        box-shadow: 0px 0px 10px #ccc;
        a.pageup,a.pagedown,ul li a,ul li{
            display:inline-block;
            width:100px;
            text-align:center;
            padding:5px 0;
            height:25px;
        }

    }
    .mask.month{
        // left:0;
        // background-color: rgba(255,0,0,0.3);

    }
    .mask.year{
        // background-color: rgba(255,0,255,0.3);

    }
    * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    a {
        &:hover {
            color: #fff;
            background-color: @color;
            border-radius: 3px;

        }
        cursor:pointer;
    }

    box-shadow: 0px 0px 20px #ccc;
    width: 420px;
    margin: 0 auto;
    margin-top: 100px;
    .info {
        background-color: @color;
        font-size: 20px;
        text-align: center;
        line-height: 60px;
        color: #fff;

    }
    .picker {
        margin:10px 0;
        width: 100%;
        cursor: pointer;
        text-align: center;
        // border-bottom: 1px solid @color;
        a {
            width: 60px;
            display: inline-block;
            height: 40px;
            line-height: 40px;
            cursor: pointer;
        }
        input {
            width: 50px;
        }
    }
    table {
        text-align: center;
        width: 100%;
        thead {
            tr {
                height: 36px;
                font-weight: bold;
            }
        }
        tbody {
            tr {
                td {
                    height: 36px;
                    cursor: pointer;
                    &:hover {
                        background-color: @color;
                        color: #fff;
                    }
                }
                td.choosen {
                    color: #fff;
                    background-color: @color;
                }
                td.today {
                    // background-color: #F25CF4;
                    border: 2px solid @color;
                }
                td.not-current-month {
                    color: #ccc;
                }
            }
        }
    }
    div.to-today {
        border-top: 1px solid @color;
        line-height: 30px;
        height: 30px;
        text-align: center;
        a {
            cursor: pointer;
            padding:10px 20px;
        }
    }
}
