<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VUE.js 二手房计算器</title>
    <link rel="stylesheet" type="text/css" href="clear.css">
    <!-- <link rel="stylesheet" type="text/css" href="main_less.css"> -->
    <link rel="stylesheet" type="text/css" href="buy_house.css">
</head>

<body>
    <div class="wrapper" id='app'>
        <!-- <h1>calculator</h1> -->
        <div class="inputs">
            <h3>VUE.js 二手房计算器</h3>
            <form action="" method="get" accept-charset="utf-8">
                <div>
                    <span class="label_text">房东报价</span>
                    <input type="number" id="total_price" v-model="total_price" value="73">万元
                </div>
                <div>
                    <span class="label_text">面积</span>
                    <input type="number" id="area" v-model="area" value="95.12">平方米
                </div>
                <div>
                    <span class="label_text">评估单价</span>
                    <input type="number" id="eval_unit_price" v-model="eval_unit_price" value="6500">元每米
                </div>
                <hr>
                <div>
                    <span class="label_text">契税税率</span>
                    <input class='tax_rate' type="number" id="contract_tax_rate" v-model="contract_tax_rate" value="1.5">%
                </div>
                <div>
                    <span class="label_text">营业税税率</span>
                    <input class='tax_rate' type="number" id="business_tax_rate" v-model="business_tax_rate" value="0">%
                </div>
                <div>
                    <span class="label_text">个人所得税税率</span>
                    <input class='tax_rate' type="number" id="income_tax_rate" v-model="income_tax_rate" value="1">%
                </div>
                <div>
                    <span class="label_text">中介费点数</span>
                    <input class='tax_rate' type="number" id="agent_fee_rate" v-model="agent_fee_rate" value="2">%
                </div>
                <div>
                    <span class="label_text">其他费用</span>
                    <input type="number" id="others" v-model="others" value="999">元
                </div>
                <hr>
                <div>
                    <span class="label_text">首付比例</span>
                    <input type="number" id="down_payment_per" v-model="down_payment_per" value="20">%
                </div>
                <div>
                    <span class="label_text">公积金贷款金额</span>
                    <input type="number" id="house_fund" v-model="house_fund" value="30">万元
                </div>
                <!-- <input type="button" id="btn_go" v-model="btn_go" name="" value="计算"> -->
            </form>
        </div>
        <div class="result" id='result'>
            <div class="total class1">
                <span>总价{{total_price_incld_tax|fix}}</span>
                <div class="house class2">
                    <span>房屋总价{{parseFloat(total_price)|fix}}</span>
                    <div class="evaluation class3">评估总价<br>{{eval_price|fix}}</div>
                    <div class="rest class3">评估外总价<br>{{eval_diff|fix}}</div>
                </div>
                <div class="tax class2">
                    <span>税费总和{{sum_tax_fee|fix}}</span>
                    <div class="taxtype class3">契税<br>{{contract_tax|fix}}</div>
                    <div class="taxtype class3">营业税<br>{{business_tax|fix}}</div>
                    <div class="taxtype class3">个人所得税<br>{{income_tax|fix}}</div>
                    <div class="taxtype class3">中介费<br>{{agent_fee|fix}}</div>
                    <div class="taxtype class3">其他<br>{{other_cost|fix}}</div>
                </div>
            </div>
        </div>
        <div class="pay">
            <div class="total class1">
                <span>总金额{{total_price_incld_tax|fix}}</span>
                <div class="fund class2">
                    <span>贷款总额{{sum_loan|fix}}</span>
                    <div class="commercial class3">
                        <span>商业贷款<br>{{commercial_loan|fix}}</span>
                    </div>
                    <div class="public class3">
                        <span>公积金贷款<br>{{parseFloat(house_fund)|fix}}</span>
                    </div>
                </div>
                <div class="cash class2">
                    <span>第一笔支付总额{{first_money|fix}}</span>
                    <div class="down_payment class3">
                        <span>首付金额<br>{{down_payment|fix}}</span>
                    </div>
                    <div class="eval_diff class3">
                        <span>评估外总价<br>{{eval_diff|fix}}</span>
                    </div>
                    <div class="sum-tax-fee class3 ">
                        <span>税费总和<br>{{sum_tax_fee|fix}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../script/vue.min.js"></script>
    <script src="buy_house.js"></script>
</body>

</html>
