* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
#root {
  width: 80%;
  margin: 50px auto;
}
#root div {
  padding: 1rem;
}
#root table,
#root tr,
#root td {
  border: 1px solid red;
  border-collapse: collapse;
}
#root .interest-setter {
  border: 1px solid red;
  font-size: 1.2rem;
  line-height: 2.4rem;
}
#root .interest-setter input {
  font-size: 1.2rem;
}
#root .test {
  background-color: #ccc;
  line-height: 2.4rem;
}
