body{font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;	background-color: #fff;}
/*body{text-align: center;}*/
/*.body{background-color: #eee;}*/
/*body{color: red;text-align: center;}*/
/*div :hover{background-color: black;border-radius: 10px;}*/
/*顶部导航栏*/
.nav_container{background-color:white;}
.nav{width:960px; margin: 0 auto; background-color:red; line-height: 100px;}
.logo,.nav_list_box{float:left;}
.logo{width: 108px; height: 20px; float:left;}
.logo{background: url(../img/main_logo.jpg) no-repeat; margin-top: 40px;margin-left: 10px; }


	.nav{position: relative;}
	.nav_list_box{background-color: white; margin-left: 100px;}
	.nav_list_box ul{background-color: white;list-style-type: none;}
	.nav_list_box li{float: left;width: 90px;text-align: center;}
	.nav_list_box a{display: block;text-decoration: none;padding: 0 10px;color:grey;transition:all 0.2s;}
	.nav_list_box a:hover{background-color: #f60;color: white;}




	.login_box{float: right; margin-right: 10px;text-align: center}
	.login_box{width: 100px;height: 100px;background-color: white;}
	.login_box a{text-decoration: none;color:grey;}
	.login_box a:hover{color:blue;}



	/*导航栏外容器*/
	.container{margin:0 auto;width:960px;background-color: #eee;}


	.sub_nav{height: 80px;border-bottom: 2px #0099ff solid;}
	.search_box{float:left;margin-left: 230px;margin-top: 24px;}
	
	.input,.btn{height: 32px;padding-left: 10px;}
	.btn{width: 80px;background-color: #0099ff;color: white;border: none;}
	.input {width: 300px;}
	.shopping_cart{height:100%;float:right;line-height: 80px;margin-right:10px;}
	.cart_icon{ float:left;width:32px;height: 32px; 
		background: url(../img/png/cart.png) no-repeat;
		background-size: cover;
		margin:24px;
	}




	.product_nav,.service_container{width:100%;height: 150px;background-color: #eee;}
	/*.product_logo_box{height: 150px;width: 15.0%;background-color: #F3B59B;float:left;border-radius: 10px;margin-left: 12px;}*/
	.product_logo_box{transition:all 0.5s; background-color: #eee;float: left;width: 15%;height: 100%;border-radius: 10%;margin-left: 13px;}
	.product_logo
	{	
		/*margin: 22px;*/
		/*background:url(../img/png/9.png) no-repeat;*/
		/*background-size: contain;*/
		width: 100%;
		height: 100%;
		transition:all 1s;
	}
	#product_logo1{background: url(../img/png/1.png) no-repeat;}
	#product_logo2{background: url(../img/png/2.png) no-repeat;}
	#product_logo3{background: url(../img/png/3.png) no-repeat;}
	#product_logo4{background: url(../img/png/4.png) no-repeat;}
	#product_logo5{background: url(../img/png/5.png) no-repeat;}
	#product_logo6{background: url(../img/png/7.png) no-repeat;}
	
	.product_logo{margin:30px 42px;text-decoration: none;line-height: 150px;}
	.product_logo a{text-decoration: none;}
	.product_logo p{padding-left: 10px;}

	.product_logo_box:hover
	{
		background-color: rgba(0,153,255,0.3);
		transform:rotate(15deg);
	}
	

	#pic {background-color: white;}
	.main_pic{width: 100%;height: 630px; 
	background: url(../img/main_pic.jpg) no-repeat;
	background-size: cover;

	}

	
	.pic_box{float:left;width: 50%;}
	.pic_box_left{height:400px;}
	.pic_box_right{height: 200px;}

	
	.pic{width: 100%;height: 100%;}
	#pic_left{background: url(../img/p01.jpg) no-repeat; background-size: 100% 100%;}
	#pic_right1{background: url(../img/p02.jpg) no-repeat; background-size: 100% 100%;}
	#pic_right2{background: url(../img/p03.jpg) no-repeat; background-size: 100% 100%;}
	

	.mask{width: 100%;background-color: rgba(0,153,255,0);text-align: center;float: left;transition:all 1s;color: #999;}
	#mask_pic_left{margin-top: -400px;}
	#mask_pic_right1,#mask_pic_right2{margin-top: -200px;}


	.mask{height: 0%;}
	/*.mask p{line-height: 100%;}*/
	.pic_box:hover .mask{background-color: rgba(0,153,255,0.5);height: 100%;font-size: 3em;color: black;}

	/*#pic_box_left:hover #mask_left,#pic_box_right1:hover #mask_right1,#pic_box_right2:hover #mask_right2
	{
		background-color: rgba(255,0,0,0.5);
	}
*/
	

	.sub_head{height: 50px;border-bottom: 2px solid #0099ff;background-color: white;}
	.sub_title{margin-left:10px;float:left; font-style: bold; font-size: 1.5em;line-height: 50px;color: #0099ff;}
	.sub_more{float:right;line-height: 50px;margin-right: 10px;}

	.recommend_pic{width: 50%;float:left;height: 300px;}
	.recommend_left{background-color: #DB6C40;background: url(../img/p09.jpg) no-repeat; background-size: 100% 100%;}
	.recommend_right{background-color: #22C3AA;background: url(../img/p19.jpg) no-repeat; background-size: 100% 100%;}

	
	.acc_main_pic{background-color: #D95AFF;height: 300px;}
	.acc_pic_left,.acc_pic_right{height: 200px;float:left;border-bottom: 1px solid #ccc;}
	.acc_pic_left{width: 25%;}
	.acc_pic_right{width: 50%;}
	.acc_main_pic{background: url(../img/p10.jpg) no-repeat;}
	.acc_pic_left{background: url(../img/p11.jpg) no-repeat;}
	.acc_pic_right{background: url(../img/p12.jpg) no-repeat;}
	.acc_main_pic,.acc_pic_left,.acc_pic_right{-webkit-background-size: 100% 100%;
	background-size: 100% 100%;}
	.acc_pic{color: #888;text-align: center;}



	.service_logo{width: 20%;height: 100px;float:left;}
	.footer{background-color: #0EA8E3;}
	.footer h3{font-style: bold;font-size: 1.1em;line-height: 2em;}
	.footer p{font-size: 0.8em;}
	.footer_col{width:18%; height: 150px;float:left;text-align: center;line-height: 1.5em;color: #888;}
	.footer_col_right{float:right;color: blue;}


	.last_footer{height: 50px;border-top: 1px grey solid;text-align: center;background-color: #eee;line-height: 50px;}




	/*清除浮动用空div*/
	.clear_float{clear: both;}



