body {
  background-color: #eee;
  box-sizing: border-box;
}
#wrapper {
  width: 400px;
  height: 400px;
  boder: 1px solid #000;
  margin: 0 auto;
}
#box {
  background-color: #fff;
  width: 100%;
  height: 100%;
}
#tag {
  width: 50%;
  background-color: #0E728C;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  font-size: 2em;
}
#count_down {
  background-color: #F29C9C;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
