<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>京东</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="login-bar clearfix">
            <ul class="clearfix">
                <li><a href="javascript:;">送至：北京</a> </li>
                <li><a href="javascript:;">你好，请登录</a> </li>
            </ul>
            <ul class="clearfix">
                <li><a href="javascript:;">免费注册</a> </li>
                <li><a href="javascript:;">我的订单</a> </li>
                <li><a href="javascript:;">我的京东</a> </li>
                <li><a href="javascript:;">京东会员</a> </li>
                <li><a href="javascript:;">企业采购</a> </li>
                <li><a href="javascript:;">手机京东</a> </li>
                <li><a href="javascript:;">关注京东</a> </li>
                <li><a href="javascript:;">客户服务</a> </li>
                <li><a href="javascript:;">网站导航</a> </li>
            </ul>
        </div>
        <div class="banner-ad">
            <img src="imgs/banner-ad.jpg" alt="">
        </div>
        <div class="logo-search">
            <div class="logo">
                <a href="javascript:;" title=""><img src="imgs/main-logo.png" alt=""></a>
            </div>
            <div class="search">
                <div class="search-box">
                    <input type="text" name="" value="" placeholder=""><span class="btn">搜索</span>
                </div>
                <div class="search-suggest">
                    <a href="javascript:;" title="">员工福利</a>
                    <a href="javascript:;" title="">员工福利</a>
                    <a href="javascript:;" title="">员工福利</a>
                    <a href="javascript:;" title="">员工福利</a>
                    <a href="javascript:;" title="">员工福利</a>
                    <a href="javascript:;" title="">员工福利</a>
                    <a href="javascript:;" title="">员工福利</a>
                    <a href="javascript:;" title="">员工福利</a>
                </div>
            </div>
            <div class="shopping-cart"><img src="imgs/shopping-cart.png" alt="">我的购物车 &gt</div>
        </div>
        <div class="entrance">
            <div class="nav">
                <ul>
                    <li><a href="javascript:;">全部商品分类</a> </li>
                    <li><a href="javascript:;">服装城</a> </li>
                    <li><a href="javascript:;">美妆馆</a> </li>
                    <li><a href="javascript:;">京东超市</a> </li>
                    <li><a href="javascript:;">生鲜</a> </li>
                    <li><a href="javascript:;">全球购</a> </li>
                    <li><a href="javascript:;">闪购</a> </li>
                    <li><a href="javascript:;">团购</a> </li>
                    <li><a href="javascript:;">拍卖</a> </li>
                    <li><a href="javascript:;">金融</a> </li>
                </ul>
            </div>
            <div class="content clearfix">
                <div class="catalog">
                    <ul>
                        <li><a href="javascript:;">家用电器 <span>&gt</span></a> </li>
                        <li><a href="javascript:;">手机、运营商、数码 <span>&gt</span></a> </li>
                        <li><a href="javascript:;">电脑、办公 <span>&gt</span></a> </li>
                        <li><a href="javascript:;">家居、家具、家装、厨具 <span>&gt</span></a> </li>
                        <li><a href="javascript:;">男装、女装、童装、内衣 <span>&gt</span></a> </li>
                        <li><a href="javascript:;">个护化妆、清洁用品、宠物 <span>&gt</span></a> </li>
                        <li><a href="javascript:;">鞋靴、箱包、珠宝、奢侈品 <span>&gt</span></a> </li>
                        <li><a href="javascript:;">运动、户外、钟表 <span>&gt</span></a> </li>
                        <li><a href="javascript:;">汽车、汽车用品 <span>&gt</span></a> </li>
                        <li><a href="javascript:;">母婴、玩具乐器 <span>&gt</span></a> </li>
                        <li><a href="javascript:;">食品、酒类、生鲜、特产 <span>&gt</span></a> </li>
                        <li><a href="javascript:;">医药保健 <span>&gt</span></a> </li>
                        <li><a href="javascript:;">图书、音像、电子书 <span>&gt</span></a> </li>
                        <li><a href="javascript:;">彩票、旅行、充值、票务 <span>&gt</span></a> </li>
                        <li><a href="javascript:;">理财、众筹、白条、保险 <span>&gt</span></a> </li>
                    </ul>
                </div>
                <div class="slide">
                    <ul>
                        <li><img src="imgs/slide0.jpg" alt=""></li>
                    </ul>
                </div>
                <div class="news-tickets">
                    <div class="news">
                        <p><span>京东快报</span> <span>更多></span> </p>
                        <ul>
                            <li><a href="javascript:;"><span>[特惠]</span>智能厨师锅五折秒杀直降649元</a> </li>
                            <li><a href="javascript:;"><span>[公告]</span>因广州图书仓搬仓升级配送延迟</a> </li>
                            <li><a href="javascript:;"><span>[特惠]</span>FIIL Diva京东独家首发</a> </li>
                            <li><a href="javascript:;"><span>[公告]</span>“放心肉” 就在京东生鲜</a> </li>
                            <li><a href="javascript:;"><span>[特惠]</span>海飞丝 第一支护肤洗发水</a> </li>
                        </ul>
                    </div>
                    <div class="tickets">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img src="imgs/ticket-logo.png" alt=""><span>话费</span></td>
                                    <td><img src="imgs/ticket-logo.png" alt=""><span>机票</span></td>
                                    <td><img src="imgs/ticket-logo.png" alt=""><span>电影票</span></td>
                                    <td><img src="imgs/ticket-logo.png" alt=""><span>游戏</span></td>
                                </tr>
                                <tr>
                                    <td><img src="imgs/ticket-logo.png" alt=""><span>彩票</span></td>
                                    <td><img src="imgs/ticket-logo.png" alt=""><span>加油卡</span></td>
                                    <td><img src="imgs/ticket-logo.png" alt=""><span>酒店</span></td>
                                    <td><img src="imgs/ticket-logo.png" alt=""><span>火车票</span></td>
                                </tr>
                                <tr>
                                    <td><img src="imgs/ticket-logo.png" alt=""><span>众筹</span></td>
                                    <td><img src="imgs/ticket-logo.png" alt=""><span>理财</span></td>
                                    <td><img src="imgs/ticket-logo.png" alt=""><span>礼品卡</span></td>
                                    <td><img src="imgs/ticket-logo.png" alt=""><span>白条</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ad">
                        <a href="javascript:;" title=""><img src="imgs/entrance-ad-right-bottom.jpg" alt=""> </a>
                    </div>
                </div>
                <!-- <div class="clearfix"></div> -->
            </div>
        </div>
        <div class="top-ad clearfix">
            <div class="ad">
                <a href="javascript:;" title="">
                    <img src="imgs/top-ad0.png" alt="">
                </a>
            </div>
            <div class="slide ">
                <img src="imgs/top-ad1.jpg" alt="">
                <img src="imgs/top-ad2.jpg" alt="">
                <img src="imgs/top-ad1.jpg" alt="">
                <img src="imgs/top-ad2.jpg" alt="">
            </div>
        </div>
        <div class="main-class cloth">
            <div class="nav">
                <div class="title">服装鞋包</div>
                <!-- <a href="javascript:;" title="">换一批</a> -->
                <div class="tabs">
                    <ul>
                        <li class="active"> <a href="javascript:;" title="">大牌</a> </li>
                        <li> <a href="javascript:;" title="">男装</a> </li>
                        <li> <a href="javascript:;" title="">女装</a> </li>
                        <li> <a href="javascript:;" title="">鞋靴</a> </li>
                        <li> <a href="javascript:;" title="">箱包</a> </li>
                        <li> <a href="javascript:;" title="">内衣配饰</a> </li>
                        <li> <a href="javascript:;" title="">珠宝首饰</a> </li>
                        <li> <a href="javascript:;" title="">奢品礼品</a> </li>
                        <li> <a href="javascript:;" title="">奢华腕表</a> </li>
                    </ul>
                </div>
            </div>
            <div class="content clearfix">
                <div class="row1">
                    <div class="left">
                        <div class="bg">
                            <a href="javascript:'" title=""><img src="imgs/left-bg.jpg" alt=""></a>
                        </div>
                        <div class="catalog-logo">
                            <p>男装 女装 内衣 鞋靴 箱包
                            </p>
                        </div>
                        <div class="catalog-text">
                            <p>菩提手串 水晶手链 时尚女包 精品男包 维氏手表 奢品名表 腕表众筹 智能手表
                            </p>
                        </div>
                    </div>
                    <div class="right">
                        <ul class="clearfix">
                            <li>
                                <a href="javascript:;" title="">
                                    <img src="imgs/good0.jpg" alt="">
                                    <p class="name">G2000/man时尚男装 商务休闲衬衣修身</p>
                                    <p class="price">￥159.00</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" title="">
                                    <img src="imgs/good1.jpg" alt="">
                                    <p class="name">G2000/man时尚男装 商务休闲衬衣修身</p>
                                    <p class="price">￥159.00</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" title="">
                                    <img src="imgs/good2.jpg" alt="">
                                    <p class="name">G2000/man时尚男装 商务休闲衬衣修身</p>
                                    <p class="price">￥159.00</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" title="">
                                    <img src="imgs/good0.jpg" alt="">
                                    <p class="name">G2000/man时尚男装 商务休闲衬衣修身</p>
                                    <p class="price">￥159.00</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" title="">
                                    <img src="imgs/good1.jpg" alt="">
                                    <p class="name">G2000/man时尚男装 商务休闲衬衣修身</p>
                                    <p class="price">￥159.00</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" title="">
                                    <img src="imgs/good2.jpg" alt="">
                                    <p class="name">G2000/man时尚男装 商务休闲衬衣修身</p>
                                    <p class="price">￥159.00</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" title="">
                                    <img src="imgs/good0.jpg" alt="">
                                    <p class="name">G2000/man时尚男装 商务休闲衬衣修身</p>
                                    <p class="price">￥159.00</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" title="">
                                    <img src="imgs/good1.jpg" alt="">
                                    <p class="name">G2000/man时尚男装 商务休闲衬衣修身</p>
                                    <p class="price">￥159.00</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row2 clearfix">
                    <div class="left">
                        <a href="javascript:;" title=""><img src="imgs/row2_1.jpg" alt=""></a>
                    </div>
                    <div class="right">
                        <a href="javascript:;" title=""><img src="imgs/row2_right0.jpg" alt=""></a>
                        <a href="javascript:;" title=""><img src="imgs/row2_right0.jpg" alt=""></a>
                        <a href="javascript:;" title=""><img src="imgs/row2_right0.jpg" alt=""></a>
                        <a href="javascript:;" title=""><img src="imgs/row2_right0.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="brands-ad">
                <ul class="clearfix">
                    <li>
                        <a href="javascript:;" title=""><img src="imgs/brand0.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="javascript:;" title=""><img src="imgs/brand1.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="javascript:;" title=""><img src="imgs/brand2.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="javascript:;" title=""><img src="imgs/brand3.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="javascript:;" title=""><img src="imgs/brand4.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="javascript:;" title=""><img src="imgs/brand0.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="javascript:;" title=""><img src="imgs/brand1.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="javascript:;" title=""><img src="imgs/brand2.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="javascript:;" title=""><img src="imgs/brand3.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="javascript:;" title=""><img src="imgs/brand4.jpg" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="three-banner-ad">
                <a href="javascript:;" title=""><img src="imgs/banner-item0.jpg" alt=""></a>
                <a href="javascript:;" title=""><img src="imgs/banner-item1.jpg" alt=""></a>
                <a href="javascript:;" title=""><img src="imgs/banner-item2.jpg" alt=""></a>
            </div>
        </div>
        <div class="life">
            <div class="nav"></div>
        </div>
    </div>
</body>

</html>
