* {
    padding: 0;
    margin: 0;
    ul {
        list-style-type: none;
        li {}
    }
    a {
        text-decoration: none;
    }
    font-size:13px;
}

@max_width: 1210px;
@unit_width: 210px;
@jd_red: #b1191a;
.wrapper {
    margin: 0 auto;
    width: 1210px;
    .login-bar {
        font-size: 14px;
        line-height: 30px;
        width: 1210px;
        height: 30px;
        background-color: #f1f1f1;
        // position:relative;
        ul {
            width: 100%;
            li:first-of-type{
            // position: absolute;
            float:left;
            }
            li {
                float: right;
                a {
                    padding: 0 10px;
                    color: #666;
                    border-right: 1px solid #ccc;
                }
            }
        }
    }
    .banner-ad {
        width: @max_width;
        height: 80px;
        background-color: red;
        img {
            margin: 0 auto;
        }
    }
    .logo-search {
        width: @max_width;
        height: 75px;
        padding-top: 25px;
        .logo {
            width: 250px;
            height: 50px;
            background-color: #f60;
        }
        &>div {
            float: left;
            margin-right: 100px;
        }
        .search {
            float:left;
            .search-box {
                input {
                    width: 456px;
                    height: 34px;
                    border: 2px solid @jd_red;
                    &:focus {
                        outline: none;
                    }
                    padding-left:10px;
                }
                span.btn {
                    vertical-align: top;
                    display: inline-block;
                    height: 34px;
                    width: 80px;
                    border: 2px solid @jd_red;
                    background-color: @jd_red;
                    color: #fff;
                    text-align: center;
                    line-height: 34px;
                }
            }
            .search-suggest {
                padding-top:8px;
                font-size: 13px;
                a{
                color:#666;
                padding-right: 10px;

                }
            }
        }
        .shopping-cart {
            width:139px;
            height:34px;
            line-height:34px;
            font-size:13px;
            border:1px solid #ccc;
            text-align:center;
            margin:0;
            background-color: #f9f9f9;
           // vertical-align:bottom;
            img{
            margin-top:5px;
            }
        }
    }
    .entrance {
        .nav {
            *{font-size:16px;}

            border-bottom: 2px solid @jd_red;
            // padding: 15px 0;
            height: 45px;
            line-height: 45px;
            ul {
                li:first-of-type {
                    width: @unit_width;
                    background-color: @jd_red;
                    a {
                    padding-left:10px;
                        color: #fff;
                        &:hover{

                        }
                    }
                }
                li {
                    float: left;
                    a {
                        padding: 0 20px;
                        color: #000;
                        &:hover{
                            color:@jd_red;
                        }
                    }

                }
            }
        }
        .content {
            div {
                float: left;
            }
            .catalog {
                width: @unit_width;
                background-color: #c81623;
                ul {
                    li {
                        height: 31px;
                        line-height: 31px;
                            position: relative;
                        a {
                            font-size: 14px;
                            padding-left: 10px;
                            color: #fff;
                            
                            span{
                                position:absolute;
                                right:10px;
                            }
                        }
                    }
                }
            }
            .slide {
                margin-left: 11px;
                margin-top: 11px;
            }
            .news-tickets {
                width: 248px;
                margin-left: 11px;
                margin-top: 11px;
                color: #666;
                .news {
                    border: 1px solid #ccc;
                    border-bottom: 0;
                    height: 165px-2px;
                    width: 248px-2px;
                    a {
                        padding-left: 10px;
                    }
                    p {
                        padding-left: 10px;
                        border-bottom: 1px dashed #ccc;
                        height: 34px;
                        line-height: 34px;
                        span {}
                    }
                    ul {
                        li {
                            height: 25px;
                            line-height: 25px;
                            a {
                                font-size: 10px;
                                color: #666;
                            }
                        }
                    }
                }
                .tickets {
                    height: 210px;
                    table {
                        border-collapse: collapse;
                        td {
                            border: 1px solid #ccc;
                            width: 62px;
                            height: 68px;
                            text-align: center;
                            font-size: 10px;
                            img {}
                            span {
                                display: block;
                            }
                        }
                    }
                }
                .ad {
                    margin-top: 5px;
                }
            }
        }
    }
}
