<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>test</title>
    <link rel="stylesheet" href="style.css">
    <style>
    div.slide {
        width: 730px;
        height: 454px;
        width: 365px;
        height: 227px;
        margin: 10px auto;
    }
    #slide2{
         width: 730px;
        height: 454px;
    }

    </style>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/plugins.css">
<script src = "scripts/basic.js"></script>
<script src = "scripts/plugins.js"></script>
<script src = "scripts/script.js"></script>

    <!-- <script src = 'animate.js'></script> -->
<!--     <script src = 'basic.js'></script>
    <script src = 'plugins.js'></script>
    <script src = 'script.js'></script> -->
</head>

<body>
    <div class='slide' id = 'slide1'></div>
    <div class='slide' id = 'slide2'></div>
        
<!--     </div>
    <div class="slide">
        <ul>
            <li class="active">
                <a href="#" title=""><img src="imgs/slide0.jpg" alt=""></a>
            </li>
            <li>
                <a href="#" title=""><img src="imgs/slide1.jpg" alt=""></a>
            </li>
            <li>
                <a href="#" title=""><img src="imgs/slide2.jpg" alt=""></a>
            </li>
            <li>
                <a href="#" title=""><img src="imgs/slide3.jpg" alt=""></a>
            </li>
        </ul>
        <ol>
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ol>
        <span class="prev">&lt</span>
        <span class="next">&gt</span>
    </div> -->


</body>

</html>
